<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styling.css">
    
</head>
<style>
 
  .body_container{
    background-color: rgb(166,232,254);
  }
</style>
<body class="body_container">
        <div class="container" >
           <header class="header_container">
              <h1 class="header_title">
                  Ajay Blogs
              </h1>
               <p class="header_desc">
                   utilize this space to incorporate a captiviting subheading crafted by ChatGPT,addding depth and intrigue to your blog
               </p>
            </header>
            <main class="main_container">
               <div class="card_container">
                  <a href="#" class="card_image_container">
                     <img src="Barfi.jpg" alt="card 1 image"
                          class="card_image"
                          loading="lazy"
                        />
 
                    </a>
                   <div class="card_title_container">
                        <a href="#">
                            <h2>
                              New Gadgets Released
                            </h2>
                          
                        </a>
                        <p class="card-desc">
                          check out the latest tech gudgets hitting the market,from smartphones
                           to smartwatches.
                          
                        </p>

                     
                    </div>

                    <div class="card_footer_container">
                        <div class="author_container">
                          <div class="author_avatar_container">
                                <img src="https://api.dicebear.com/7.x/notionists/svg?seed=John?size=64" alt=""
                                  loading="lazy"
                                  class="author Avatar"
                                  alt="avatar 1"
                                />
                            </div>
                            <div class="author_info_container">
                                <span> 
                                   Jhon Doe
                                </span>
                                <span>
                                    Sept 19, 2021
                                </span>

                                
                            </div>
                        </div>
                        <div class="card_tag_container">
                               <span>
                                 Technology
                               </span>
                        </div>

                    </div>

                </div>

                 <div class="card_container">
                  <a href="#" class="card_image_container">
                     <img src="img27.jpg" alt="card 1 image"
                          class="card_image"
                          loading="lazy"
                        />
 
                    </a>
                   <div class="card_title_container">
                        <a href="#">
                            <h2>
                              New Gadgets Released
                            </h2>
                          
                        </a>
                        <p class="card-desc">
                          check out the latest tech gudgets hitting the market,from smartphones
                           to smartwatches.
                          
                        </p>

                     
                    </div>

                    <div class="card_footer_container">
                        <div class="author_container">
                          <div class="author_avatar_container">
                                <img src="https://api.dicebear.com/7.x/notionists/svg?seed=John?size=64" alt=""
                                  loading="lazy"
                                  class="author Avatar"
                                  alt="avatar 1"
                                />
                            </div>
                            <div class="author_info_container">
                                <span> 
                                   Jhon Doe
                                </span>
                                <span>
                                    Sept 19, 2021
                                </span>

                                
                            </div>
                        </div>
                        <div class="card_tag_container">
                               <span>
                                 Technology
                               </span>
                        </div>

                    </div>

                </div> <div class="card_container">
                  <a href="#" class="card_image_container">
                     <img src="img23.jpg" alt="card 1 image"
                          class="card_image"
                          loading="lazy"
                        />
 
                    </a>
                   <div class="card_title_container">
                        <a href="#">
                            <h2>
                              New Gadgets Released
                            </h2>
                          
                        </a>
                        <p class="card-desc">
                          check out the latest tech gudgets hitting the market,from smartphones
                           to smartwatches.
                          
                        </p>

                     
                    </div>

                    <div class="card_footer_container">
                        <div class="author_container">
                          <div class="author_avatar_container">
                                <img src="https://api.dicebear.com/7.x/notionists/svg?seed=John?size=64" alt=""
                                  loading="lazy"
                                  class="author Avatar"
                                  alt="avatar 1"
                                />
                            </div>
                            <div class="author_info_container">
                                <span> 
                                   Jhon Doe
                                </span>
                                <span>
                                    Sept 19, 2021
                                </span>

                                
                            </div>
                        </div>
                        <div class="card_tag_container">
                               <span>
                                 Technology
                               </span>
                        </div>

                    </div>

                </div> <div class="card_container">
                  <a href="#" class="card_image_container">
                     <img src="img28.webp" alt="card 1 image"
                          class="card_image"
                          loading="lazy"
                        />
 
                    </a>
                   <div class="card_title_container">
                        <a href="#">
                            <h2>
                              New Gadgets Released
                            </h2>
                          
                        </a>
                        <p class="card-desc">
                          check out the latest tech gudgets hitting the market,from smartphones
                           to smartwatches.
                          
                        </p>

                     
                    </div>

                    <div class="card_footer_container">
                        <div class="author_container">
                          <div class="author_avatar_container">
                                <img src="https://api.dicebear.com/7.x/notionists/svg?seed=John?size=64" alt=""
                                  loading="lazy"
                                  class="author Avatar"
                                  alt="avatar 1"
                                />
                            </div>
                            <div class="author_info_container">
                                <span> 
                                   Jhon Doe
                                </span>
                                <span>
                                    Sept 19, 2021
                                </span>

                                
                            </div>
                        </div>
                        <div class="card_tag_container">
                               <span>
                                 Technology
                               </span>
                        </div>

                    </div>

                </div> <div class="card_container">
                  <a href="#" class="card_image_container">
                     <img src="img24.webp" alt="card 1 image"
                          class="card_image"
                          loading="lazy"
                        />
 
                    </a>
                   <div class="card_title_container">
                        <a href="#">
                            <h2>
                              New Gadgets Released
                            </h2>
                          
                        </a>
                        <p class="card-desc">
                          check out the latest tech gudgets hitting the market,from smartphones
                           to smartwatches.
                          
                        </p>

                     
                    </div>

                    <div class="card_footer_container">
                        <div class="author_container">
                          <div class="author_avatar_container">
                                <img src="https://api.dicebear.com/7.x/notionists/svg?seed=John?size=64" alt=""
                                  loading="lazy"
                                  class="author Avatar"
                                  alt="avatar 1"
                                />
                            </div>
                            <div class="author_info_container">
                                <span> 
                                   Jhon Doe
                                </span>
                                <span>
                                    Sept 19, 2021
                                </span>

                                
                            </div>
                        </div>
                        <div class="card_tag_container">
                               <span>
                                 Technology
                               </span>
                        </div>

                    </div>

                </div> <div class="card_container">
                  <a href="#" class="card_image_container">
                     <img src="img29.webp" alt="card 1 image"
                          class="card_image"
                          loading="lazy"
                        />
 
                    </a>
                   <div class="card_title_container">
                        <a href="#">
                            <h2>
                              New Gadgets Released
                            </h2>
                          
                        </a>
                        <p class="card-desc">
                          check out the latest tech gudgets hitting the market,from smartphones
                           to smartwatches.
                          
                        </p>

                     
                    </div>

                    <div class="card_footer_container">
                        <div class="author_container">
                          <div class="author_avatar_container">
                                <img src="https://api.dicebear.com/7.x/notionists/svg?seed=John?size=64" alt=""
                                  loading="lazy"
                                  class="author Avatar"
                                  alt="avatar 1"
                                />
                            </div>
                            <div class="author_info_container">
                                <span> 
                                   Jhon Doe
                                </span>
                                <span>
                                    Sept 19, 2021
                                </span>

                                
                            </div>
                        </div>
                        <div class="card_tag_container">
                               <span>
                                 Technology
                               </span>
                        </div>

                    </div>

                </div> <div class="card_container">
                  <a href="#" class="card_image_container">
                     <img src="img25.webp" alt="card 1 image"
                          class="card_image"
                          loading="lazy"
                        />
 
                    </a>
                   <div class="card_title_container">
                        <a href="#">
                            <h2>
                              New Gadgets Released
                            </h2>
                          
                        </a>
                        <p class="card-desc">
                          check out the latest tech gudgets hitting the market,from smartphones
                           to smartwatches.
                          
                        </p>

                     
                    </div>

                    <div class="card_footer_container">
                        <div class="author_container">
                          <div class="author_avatar_container">
                                <img src="https://api.dicebear.com/7.x/notionists/svg?seed=John?size=64" alt=""
                                  loading="lazy"
                                  class="author Avatar"
                                  alt="avatar 1"
                                />
                            </div>
                            <div class="author_info_container">
                                <span> 
                                   Jhon Doe
                                </span>
                                <span>
                                    Sept 19, 2021
                                </span>

                                
                            </div>
                        </div>
                        <div class="card_tag_container">
                               <span>
                                 Technology
                               </span>
                        </div>

                    </div>

                </div> <div class="card_container">
                  <a href="#" class="card_image_container">
                     <img src="img26.webp" alt="card 1 image"
                          class="card_image"
                          loading="lazy"
                        />
 
                    </a>
                   <div class="card_title_container">
                        <a href="#">
                            <h2>
                              New Gadgets Released
                            </h2>
                          
                        </a>
                        <p class="card-desc">
                          check out the latest tech gudgets hitting the market,from smartphones
                           to smartwatches.
                          
                        </p>

                     
                    </div>

                    <div class="card_footer_container">
                        <div class="author_container">
                          <div class="author_avatar_container">
                                <img src="https://api.dicebear.com/7.x/notionists/svg?seed=John?size=64" alt=""
                                  loading="lazy"
                                  class="author Avatar"
                                  alt="avatar 1"
                                />
                            </div>
                            <div class="author_info_container">
                                <span> 
                                   Jhon Doe
                                </span>
                                <span>
                                    Sept 19, 2021
                                </span>

                                
                            </div>
                        </div>
                        <div class="card_tag_container">
                               <span>
                                 Technology
                               </span>
                        </div>

                    </div>

                </div>




            </main>

            




          </div>
          




        
    
</body>
</html>

<!--
https://api.dicebear.com/7.x/notionists/svg?seed=John?size=64

-->
